[Unit]
Description=periodic system reboot timer
Documentation=https://example.com
Documentation=https://example.com/url2
Wants=test.service
Requires=test.service
Requisite=test.service
BindsTo=test.service
BindsTo=test2.service
PartOf=test.service
Upholds=test.service
Upholds=test2.service
Conflicts=test-non-existent.service
Before=test-before.service
After=multi-user.target
OnFailure=test-non-existent-failure.service
OnSuccess=test-non-existent-success.service
PropagatesReloadTo=test.service
ReloadPropagatedFrom=test.service
PropagatesStopTo=test.service
StopPropagatedFrom=test.service
JoinsNamespaceOf=test.service
RequiresMountsFor=/
WantsMountsFor=/
OnSuccessJobMode=replace
OnFailureJobMode=replace
IgnoreOnIsolate=false
StopWhenUnneeded=false
RefuseManualStart=false
RefuseManualStop=false
AllowIsolate=false
DefaultDependencies=true
SurviveFinalKillSignal=false
CollectMode=inactive
FailureAction=none
SuccessAction=none
FailureActionExitStatus=255
SuccessActionExitStatus=255
JobTimeoutSec=infinity
JobRunningTimeoutSec=infinity
JobTimeoutAction=none
StartLimitIntervalSec=infinity
StartLimitBurst=0
StartLimitAction=none
RebootArgument=none
SourcePath=/var/run/generated/timer
ConditionArchitecture=native
ConditionArchitecture=x86-64
ConditionFirmware=uefi
ConditionFirmware=device-tree
ConditionVirtualization=True
ConditionVirtualization=private-users
ConditionHost=hostname
ConditionKernelCommandLine=BOOT_IMAGE
ConditionKernelVersion=>5.0
ConditionKernelVersion=<5.7
ConditionCredential=credential
ConditionEnvironment=DISPLAY
ConditionSecurity=selinux
ConditionSecurity=apparmor
ConditionCapability=SYS_ADMIN
ConditionACPower=false
ConditionNeedsUpdate=/etc/
ConditionFirstBoot=false
ConditionPathExists=/
ConditionPathExistsGlob=/etc/*
ConditionPathIsDirectory=/etc
ConditionPathIsSymbolicLink=/usr/bin/grepdiff
ConditionPathIsMountPoint=/
ConditionPathIsReadWrite=/
ConditionPathIsEncrypted=/
ConditionDirectoryNotEmpty=/
ConditionFileNotEmpty=/etc/passwd
ConditionFileIsExecutable=/usr/bin/ls
ConditionUser=root
ConditionGroup=root
ConditionControlGroupController=v2
ConditionMemory=<90%
ConditionCPUs=>4
ConditionCPUFeature=apic
ConditionCPUFeature=sse
ConditionOSRelease=ID=manjaro
ConditionMemoryPressure=100%
ConditionCPUPressure=100%
ConditionIOPressure=100%
AssertArchitecture=native
AssertArchitecture=x86-64
AssertVirtualization=True
AssertVirtualization=private-users
AssertHost=hostname
AssertKernelCommandLine=BOOT_IMAGE
AssertKernelVersion=>5.0
AssertKernelVersion=<5.7
AssertCredential=credential
AssertEnvironment=DISPLAY
AssertSecurity=selinux
AssertSecurity=apparmor
AssertCapability=SYS_ADMIN
AssertACPower=false
AssertNeedsUpdate=/etc/
AssertFirstBoot=false
AssertPathExists=/
AssertPathExistsGlob=/etc/*
AssertPathIsDirectory=/etc
AssertPathIsSymbolicLink=/usr/bin/grepdiff
AssertPathIsMountPoint=/
AssertPathIsReadWrite=/
AssertPathIsEncrypted=/
AssertDirectoryNotEmpty=/
AssertFileNotEmpty=/etc/passwd
AssertFileIsExecutable=/usr/bin/ls
AssertUser=root
AssertGroup=root
AssertControlGroupController=v2
AssertMemory=<90%
AssertCPUs=>4
AssertCPUFeature=apic
AssertCPUFeature=sse
AssertOSRelease=ID=manjaro
AssertMemoryPressure=100%
AssertCPUPressure=100%
AssertIOPressure=100%

[Timer]
DefaultDependencies=true
OnActiveSec=1hour
OnBootSec=1hour
OnStartupSec=1hour
OnUnitActiveSec=1hour
OnUnitInactiveSec=1hour
OnCalendar=1hour
AccuracySec=1min
RandomizedDelaySec=300
FixedRandomDelay=true
OnClockChange=false
OnTimezoneChange=false
Unit=reboot.service
Persistent=false
WakeSystem=false
RemainAfterElapse=true

[Install]
Alias=test2.timer
WantedBy=timers.target
RequiredBy=timers.target
UpheldBy=timers.target
DefaultInstance=test.timer
