[Unit]
Description=periodic system reboot timer
Documentation=https://example.com
Documentation=https://example.com/url2
Wants=test.service
Requires=test.service
Requisite=test.service
BindsTo=test.service
BindsTo=test2.service
PartOf=test.service
Upholds=test.service
Upholds=test2.service
Conflicts=test-non-existent.service
Before=test-before.service
After=multi-user.target
OnFailure=test-non-existent-failure.service
OnSuccess=test-non-existent-success.service
PropagatesReloadTo=test.service
ReloadPropagatedFrom=test.service
PropagatesStopTo=test.service
StopPropagatedFrom=test.service
JoinsNamespaceOf=test.service
RequiresMountsFor=/
WantsMountsFor=/
OnSuccessJobMode=replace
OnFailureJobMode=replace
IgnoreOnIsolate=false
StopWhenUnneeded=false
RefuseManualStart=false
RefuseManualStop=false
AllowIsolate=false
DefaultDependencies=true
SurviveFinalKillSignal=false
CollectMode=inactive
FailureAction=none
SuccessAction=none
FailureActionExitStatus=255
SuccessActionExitStatus=255
JobTimeoutSec=infinity
JobRunningTimeoutSec=infinity
JobTimeoutAction=none
StartLimitIntervalSec=infinity
StartLimitBurst=0
StartLimitAction=none
RebootArgument=none
SourcePath=/var/run/generated/timer
ConditionArchitecture=native
ConditionArchitecture=x86-64
ConditionFirmware=uefi
ConditionFirmware=device-tree
ConditionVirtualization=True
ConditionVirtualization=private-users
ConditionHost=hostname
ConditionKernelCommandLine=BOOT_IMAGE
ConditionKernelVersion=>5.0
ConditionKernelVersion=<5.7
ConditionCredential=credential
ConditionEnvironment=DISPLAY
ConditionSecurity=selinux
ConditionSecurity=apparmor
ConditionCapability=SYS_ADMIN
ConditionACPower=false
ConditionNeedsUpdate=/etc/
ConditionFirstBoot=false
ConditionPathExists=/
ConditionPathExistsGlob=/etc/*
ConditionPathIsDirectory=/etc
ConditionPathIsSymbolicLink=/usr/bin/grepdiff
ConditionPathIsMountPoint=/
ConditionPathIsReadWrite=/
ConditionPathIsEncrypted=/
ConditionDirectoryNotEmpty=/
ConditionFileNotEmpty=/etc/passwd
ConditionFileIsExecutable=/usr/bin/ls
ConditionUser=root
ConditionGroup=root
ConditionControlGroupController=v2
ConditionMemory=<90%
ConditionCPUs=>4
ConditionCPUFeature=apic
ConditionCPUFeature=sse
ConditionOSRelease=ID=manjaro
ConditionMemoryPressure=100%
ConditionCPUPressure=100%
ConditionIOPressure=100%
AssertArchitecture=native
AssertArchitecture=x86-64
AssertVirtualization=True
AssertVirtualization=private-users
AssertHost=hostname
AssertKernelCommandLine=BOOT_IMAGE
AssertKernelVersion=>5.0
AssertKernelVersion=<5.7
AssertCredential=credential
AssertEnvironment=DISPLAY
AssertSecurity=selinux
AssertSecurity=apparmor
AssertCapability=SYS_ADMIN
AssertACPower=false
AssertNeedsUpdate=/etc/
AssertFirstBoot=false
AssertPathExists=/
AssertPathExistsGlob=/etc/*
AssertPathIsDirectory=/etc
AssertPathIsSymbolicLink=/usr/bin/grepdiff
AssertPathIsMountPoint=/
AssertPathIsReadWrite=/
AssertPathIsEncrypted=/
AssertDirectoryNotEmpty=/
AssertFileNotEmpty=/etc/passwd
AssertFileIsExecutable=/usr/bin/ls
AssertUser=root
AssertGroup=root
AssertControlGroupController=v2
AssertMemory=<90%
AssertCPUs=>4
AssertCPUFeature=apic
AssertCPUFeature=sse
AssertOSRelease=ID=manjaro
AssertMemoryPressure=100%
AssertCPUPressure=100%
AssertIOPressure=100%

[Service]
Type=simple
ExitType=main
RemainAfterExit=false
GuessMainPID=false
PIDFile=/var/run/test_pid
BusName=org.freedesktop.hostname1
ExecStart=echo test
ExecStart=echo test2
ExecStartPre=echo test
ExecStartPost=echo test
ExecCondition=255
ExecReload=echo test
ExecStop=echo test
ExecStopPost=echo test
RestartSec=1hour
RestartSteps=100
RestartMaxDelaySec=infinity
TimeoutStartSec=infinity
TimeoutStopSec=infinity
TimeoutAbortSec=infinity
TimeoutSec=infinity
TimeoutStartFailureMode=kill
TimeoutStopFailureMode=kill
RuntimeMaxSec=infinity
RuntimeRandomizedExtraSec=300
WatchdogSec=300
Restart=on-abnormal
RestartMode=normal
SuccessExitStatus=255
RestartPreventExitStatus=234
RestartPreventExitStatus=245
RestartForceExitStatus=2
RestartForceExitStatus=3
RootDirectoryStartOnly=false
NonBlocking=false
NotifyAccess=none
Sockets=SOCKET
FileDescriptorStoreMax=1024
FileDescriptorStorePreserve=false
USBFunctionDescriptors=/etc/usb-functions
USBFunctionStrings=/etc/usb-strings
OOMPolicy=kill
OpenFile=/etc:test:read-only,truncate
ReloadSignal=SIGHUP
ExecSearchPath=/bin
ExecSearchPath=/sbin
WorkingDirectory=/tmp
RootDirectory=/tmp
RootImage=/tmp/image
RootImageOptions=root:nodev,tmp:nodev
RootEphemeral=false
RootHash=0xHASH
RootHashSignature=SIG
RootVerity=/tmp/dm-verity
RootImagePolicy=root=verity+signed+encrypted+unprotected+absent
MountImagePolicy=root=verity+signed+encrypted+unprotected+absent
ExtensionImagePolicy=root=verity+signed+encrypted+unprotected+absent
MountAPIVFS=false
ProtectProc=noaccess
ProcSubset=all
BindPaths=/:/other:rbind
BindReadOnlyPaths=/:/other:rbind
MountImages=root:root:nodev
ExtensionImages=root:nodev
ExtensionDirectories=/tmp
ExtensionDirectories=/tmp2
User=test-user
Group=test-group
DynamicUser=false
SupplementaryGroups=test-group2
SupplementaryGroups=test-group3
SetLoginEnvironment=false
PAMName=pam-service-name
CapabilityBoundingSet=SYS_ADMIN
CapabilityBoundingSet=~NET_ADMIN
AmbientCapabilities=SYS_ADMIN
AmbientCapabilities=~NET_ADMIN
NoNewPrivileges=false
SecureBits=keep-caps
SecureBits=keep-caps-locked
SELinuxContext=
AppArmorProfile=
SmackProcessLabel=
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitSTACK=infinity
LimitCORE=infinity
LimitRSS=infinity
LimitNOFILE=infinity
LimitAS=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitLOCKS=infinity
LimitSIGPENDING=infinity
LimitMSGQUEUE=infinity
LimitNICE=infinity:infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
UMask=0022
CoredumpFilter=private-anonymous
CoredumpFilter=shared-anonymous
KeyringMode=inherit
OOMScoreAdjust=1000
TimerSlackNSec=50000ns
Personality=x86-64
IgnoreSIGPIPE=true
Nice=0
CPUSchedulingPolicy=0
CPUSchedulingPriority=0
CPUSchedulingResetOnFork=false
CPUAffinity=numa
NUMAPolicy=default
NUMAMask=1-3
NUMAMask=7
IOSchedulingClass=idle
IOSchedulingPriority=4
ProtectSystem=false
ProtectHome=false
RuntimeDirectory=foo
StateDirectory=foo
CacheDirectory=foo
LogsDirectory=foo
ConfigurationDirectory=foo bar
RuntimeDirectoryMode=0755
StateDirectoryMode=0755
CacheDirectoryMode=0755
LogsDirectoryMode=0755
ConfigurationDirectoryMode=0755
RuntimeDirectoryPreserve=no
TimeoutCleanSec=infinity
ReadWritePaths=/
ReadOnlyPaths=/etc
InaccessiblePaths=/proc
ExecPaths=/usr/bin
NoExecPaths=/sbin
TemporaryFileSystem=/etc:nodev
PrivateTmp=false
PrivateDevices=false
PrivateNetwork=false
NetworkNamespacePath=/proc/100/ns/net
PrivateIPC=false
IPCNamespacePath=/proc/100/ns/net
PrivateUsers=false
ProtectHostname=false
ProtectClock=false
ProtectKernelTunables=false
ProtectKernelModules=false
ProtectKernelLogs=false
ProtectControlGroups=false
RestrictAddressFamilies=AF_UNIX
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=~none
RestrictFileSystems=@temporary
RestrictFileSystems=ext4
RestrictFileSystems=~@privileged-api
RestrictNamespaces=cgroup ipc
RestrictNamespaces=~pid
RestrictNamespaces=~user
LockPersonality=false
MemoryDenyWriteExecute=false
RestrictRealtime=false
RestrictSUIDSGID=false
RemoveIPC=false
PrivateMounts=false
MountFlags=shared
SystemCallFilter=@system-service
SystemCallFilter=~@system-service:kill
SystemCallErrorNumber=255
SystemCallArchitectures=native x86-64
SystemCallLog=crit
Environment="TEST=value"
EnvironmentFile=/etc/env
PassEnvironment=SYSTEMD_VAR
UnsetEnvironment=ENV
StandardInput=null
StandardOutput=inherit
StandardError=inherit
StandardInputText=input text
StandardInputData=input DATA
LogLevelMax=info
LogExtraFields='PRIORITY=MESSAGE'
LogRateLimitIntervalSec=30s
LogRateLimitBurst=10000
LogFilterPatterns=*
LogNamespace=test-namespace
SyslogIdentifier=test-namespace
SyslogFacility=syslog
SyslogLevel=crit
SyslogLevelPrefix=true
TTYPath=/dev/console
TTYReset=no
TTYVHangup=no
TTYRows=80
TTYColumns=100
TTYVTDisallocate=no
LoadCredential=credential:/etc/cred/test
LoadCredentialEncrypted=credential:/etc/cred/test
ImportCredential=/etc/cred/test
SetCredential=credential:DATA
SetCredentialEncrypted=credential:DATA
UtmpIdentifier=IDET
UtmpMode=init
CPUAccounting=false
CPUWeight=10000
StartupCPUWeight=10000
CPUQuota=100%
CPUQuotaPeriodSec=1000ms
AllowedCPUs=1-8,10,11
StartupAllowedCPUs=1-8,10,11
MemoryAccounting=false
MemoryMin=infinity
DefaultMemoryMin=infinity
MemoryLow=infinity
DefaultMemoryLow=infinity
StartupMemoryLow=infinity
DefaultStartupMemoryLow=infinity
MemoryHigh=infinity
StartupMemoryHigh=infinity
MemoryMax=infinity
StartupMemoryMax=infinity
MemorySwapMax=infinity
StartupMemorySwapMax=infinity
MemoryZSwapMax=infinity
StartupMemoryZSwapMax=infinity
MemoryZSwapWriteback=false
AllowedMemoryNodes=1-8,10,11
StartupAllowedMemoryNodes=1-8,10,11
TasksAccounting=false
TasksMax=infinity
IOAccounting=false
IOWeight=10000
StartupIOWeight=10000
IODeviceWeight=/dev/sda1 500
IOReadBandwidthMax=/dev/sda1 15000
IOWriteBandwidthMax=/dev/sda1 15000
IOReadIOPSMax=/dev/sda1 15000
IOWriteIOPSMax=/dev/sda1 15000
IODeviceLatencyTargetSec=/dev/sda1 25ms
IPAccounting=false
IPAddressAllow=127.0.0.0/8
IPAddressAllow=224.0.0.0/4
IPAddressDeny=127.0.0.0/8
IPAddressDeny=224.0.0.0/4
SocketBindAllow=any:udp:1-65535
SocketBindDeny=any:udp:1-65535
RestrictNetworkInterfaces=eth1
RestrictNetworkInterfaces=~eth2
NFTSet=cgroup:bridge:test:set cgroup:bridge:test:set
IPIngressFilterPath=/sys/fs/bpf
IPEgressFilterPath=/sys/fs/bpf
BPFProgram=egress:/sys/fs/bpf/egress-hook
DeviceAllow=char-cpu/* r
DeviceAllow=char-cpu/* rwm
DevicePolicy=auto
Slice=test.slice
Delegate=cpu cpuset
DelegateSubgroup=system
DisableControllers=cpu
DisableControllers=memory
ManagedOOMSwap=auto
ManagedOOMMemoryPressure=auto
ManagedOOMMemoryPressureLimit=100%
ManagedOOMPreference=none
MemoryPressureWatch=auto
MemoryPressureThresholdSec=1s
CoredumpReceive=false
KillMode=control-group
KillSignal=SIGKILL
RestartKillSignal=SIGHUP
SendSIGHUP=true
SendSIGKILL=true
FinalKillSignal=SIGKILL
WatchdogSignal=SIGABRT

[Install]
Alias=test2.timer
WantedBy=timers.target
RequiredBy=timers.target
UpheldBy=timers.target
DefaultInstance=test.timer
