{# [Unit] #}
{% include 'header/unit.j2' with context %}

{# [Service] #}
{% include 'header/service.j2' with context %}
{% include 'section/exec.j2' with context %}
{% include 'section/resource_control.j2' with context %}
{% include 'section/kill.j2' with context %}

{# [Install] #}
{% include 'header/install.j2' with context %}